* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
li{
    list-style: none;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
}

nav li button{
    list-style: none;
    color: rgb(255, 255, 255);
    font-size: 30px;
    position: absolute;
    top: 15px;
    background-color: rgba(0, 0, 0, 0.776);
    background-blend-mode: darken;
    border: 5px solid rgba(0, 0, 0, 0);
    border-radius: 50px;
    font-size: 24px;
    text-decoration: none;
    padding: 15px 35px 15px 35px;
    text-decoration: none;
}
li a button img{
    text-decoration: none;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0);
}
a{
    text-decoration: none;
    color: #ffffff;
}
img{
    left: 89.8vw;
    height: 120px;
    width: 120px;
    border-radius: 70px;
    background-color: rgba(0, 0, 0, 0);
}
#logo {
    left: 89.8vw;
    top: 1vh;
    height: 120px;
    width: 120px;
    border-radius: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
}

#one{
    left: 8vw;
    top: 4vh;
    padding: 15px 35px 15px 35px;
}

#two{
    left: 18vw;
    top: 4vh;
    padding: 15px 35px 15px 35px;
}

#three{
    left: 29vw;
    top: 4vh;
    padding: 15px 35px 15px 35px;
}

.background{
    background-image: url(./images/dragon.jpg);
}

#none{
    color: rgb(255, 255, 255);
    font-size: 30px;
    position: absolute;
    top: 15px;
    background-color: rgba(0, 0, 0, 0.457);
    background-blend-mode: darken;
    padding: 15px 35px 15px 35px;
    border: 5px solid rgba(0, 0, 0, 0);
    border-radius: 50px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.container{
    display: flex;
    width: 90vw;
    position: relative;
    top: 7vh;
    left: 2vw;
    right: 2vw;
}

.card{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: .5;
    margin: 10px;
    position: relative;
    transition: all 700ms ease-in ;
}

.card h1{
    font-size: 35px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.509);
    background-blend-mode: darken;
    padding: 12px 12px 12px 12px;
    border: 5px solid rgba(0, 0, 0, 0);
    border-radius: 50px;
}
.card.active{
    flex: 5;
}
.card.active h1{
    opacity: 1;
    transition: opacity 0.3s ease-in .7s;
}

@media (max-width: 768px) {
    nav{
        display: none;
    }
    .container {
        display: block; /* Change to block to stack cards */
        position: relative;
        left: 2vw;
        top: 10vh;
    }
    #none{
        display: flex;
        align-items: center;
        justify-content: center;
        left: 3cqh;
        top: 2vh;
        right: 2vw;
        font-size: 20px;
        padding: 12px 12px 12px 12px;
    }

    .card h1{
        font-size: 20px;
        right: 1vw;
    }
    
    .card {
        margin-bottom: 10px; /* Add margin between stacked cards */
        width: 80vw; /* Adjust width to fit the viewport */
        max-width: 768px; /* Set maximum width for better readability */
        max-height: 50px;
    }
    .card.active{
        max-height: 500px;
        font-size: 20px;
    }
    #logo {
        height: 0;
        width: 0;
        border-color: none;
    }
}